<%= form_tag root_path(), name: "search_form", method: :get, class: "form-horizontal" do %>
  <%= render partial: "index/area_select" %>

  <button class="btn btn-default" type="submit">search</button>
<% end %>