<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">トラベル比較サイト(Travel VS)について</h3>
    </div>
    <div class="modal-body">
      <blockquote>
        <h4>トラベル比較サイト(Travel VS)とは</h4>
      </blockquote>
      <p>行きたい地域を選択すると、その地域にあるホテルのプランなどが一目で分かるサイト。</p>
      <blockquote>
        <h4>検索方法</h4>
      </blockquote>
      <p>自分が行きたい地区を選択するだけ!!</p>
      <p>各サイトに情報がなければ表示しません。</p>
      <small>* 現在東京のみ対応しています。</small>
      <blockquote>
        <h4>各比較サイト</h4>
      </blockquote>
      <% jalan_logo = "/assets/jalan_logo.png" %>
      <% rtravel_logo = "/assets/rakuten_travel_logo.png" %>
      <% ikkyu_logo = "/assets/ikkyu_logo.png" %>
      <div class="h100">
        <%= image_tag jalan_logo, width: "100px", alt: "Jalan" %>
        <%= image_tag rtravel_logo, width: "100px", alt: "Rakuten" %>
        <%= image_tag ikkyu_logo, width: "100px", alt: "Ikkyu" %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
    </div>
  </div>
</div>
